@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-color: #1f2933;
  --dark-color: #1D2231;
  --gray-color: #8390A2;
  --white-color: #fff;
  --gray-light-color: #323F4b;
  --secondary-color: #3E4C59;
  --secondary-dark-color: #323F4b;
  --secondary-light-color: #616E7C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background: var(--main-color);
  font-family: 'Poppins';
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.main {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main__header {
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__bar {
  font-size: 20px;
  background: var(--secondary-dark-color);
  color: var(--white-color);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.main__logo-sec {
  display: flex;
  align-items: center;
}

.main__header-link {
  color: #fff;
  font-size: 20px;
  margin-left: 15px;
}

.main__search {
  background-color: var(--secondary-color);
  height: 40px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px 1px var(--gray-light-color);
  border-radius: 50px;
}

.main__input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font: 600 12px 'Poppins';
  padding: 0 10px;
  color: var(--white-color);
}

.main__input::placeholder {
  color: #999;
}

.main__search-icon {
  font-size: 18px;
  margin-left: 15px;
  color: var(--white-color);
}

.main__dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.main__profile {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.main__user {
  padding-left: 10px;
}

.main__username {
  font-size: 13px;
}

.main__role {
  font-size: 12px;
  font-weight: 300;
}


.main__cards {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__card {
  padding: 50px;
  width: 48%;
  margin: 20px 0;
  background: var(--secondary-dark-color);
  border-radius: 6px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px 1px var(--secondary-dark-color);
}

.main__card-number {
  font-size: 35px;
}

.main__card-desc {
  font-size: 18px;
  font-weight: 400;
}

.main__card-icon {
  font-size: 50px;
}

.main__body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.recent,
.customers {
  background-color: var(--secondary-dark-color);
  border-radius: 5px;
  box-shadow: 0 0 5px 1px var(--secondary-dark-color);
  margin: 20px 0;
  width: 100%;
  padding: 50px;
}

.recent__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.recent__title {
  font-size: 25px;
  letter-spacing: 1px;
}

.recent__link {
  color: #fff;
  background-color: var(--main-color);
  border-radius: 5px;
  padding: 15px 25px;
}


.recent__body {
  width: 100%;
  text-align: left;
  color: #fff;
  padding: 20px 0;
}

.recent__body tr:first-child th {
  padding: 40px 0;
  border-top: 1px solid var(--dark-color);
  border-bottom: 1px solid var(--dark-color);
}

.recent__body tr:nth-child(2) td {
  padding-top: 30px;
}

.recent__body tr:nth-child(n + 3) td{
  padding-top: 15px;
}

.recent__bullet {
  display: flex;
  align-items: center;
}

.bullet {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-right: 20px;
}

.bullet--review {
  background-color: yellow;
}

.bullet--inprogress {
  background-color: orangered;
}

.bullet--pending {
  background-color: mediumspringgreen;
}